@{
    ViewData["Title"] = "About";
}
<div class="containeer">
    <img class="about img-responsive" src="~/images/about.jpg" />
    <div class="centered"><span><strong>about</strong></span></div>
</div>
<h3 class="desplazar_texto"><span><i>despensa</i></span> is the new way to <strong>automatize your pantry</strong>. <span><i>despensa</i></span> service is the hub of the smart kitchen, sitting between <strong>smart appliances & grocery retailers</strong>. <span><i>despensa</i></span> keeps track of your <strong>grocery inventory.</strong></h3>

