@{
    ViewData["Title"] = "Contact";
}

<div class="containeer">
    <img class="about img-responsive" src="~/images/contact.jpg" />
    <div class="centered"><span><strong>contact</strong></span></div>
</div>
<div class="container desplazar_texto">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
            <a href="callto:555-555-555">555-555-555</a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
            <a href="mailto:about@despensa.com">about@despensa.com</a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
            <a href="https://www.google.co.uk/maps/place/ICAZA+CoLaborAndo/43.2677621,-2.9340587,17z/data=!3m1!4b1!4m5!3m4!1s0xd4e4fdbf7bcf89b:0xa34bc29690f79e4e!8m2!3d43.2677582!4d-2.9318647" target="_blank" rel="noopener">Mazarredo Zumarkalea, 48009 Bilbo, Bizkaia</a>
        </div>
    </div>
</div>
