@{
    ViewData["Title"] = "Home Page";
}
<div class="containeer">
    <img class="home img-responsive" src="~/images/background.jpg" />
    <div class="centered"><span><strong>despensa</strong></span></div>
</div>
<h3 class="desplazar_texto"><span><i>despensa</i></span> is the new way to <strong>automatize your pantry</strong>. <span><i>despensa</i></span> service is the hub of the smart kitchen, sitting between <strong>smart appliances & grocery retailers</strong>.</h3>
<img class="img-centered img-responsive" src="~/images/despensa.jpg" />
<h3 class="desplazar_texto"><span><i>despensa</i></span> keeps track of your <strong>grocery inventory.</strong></h3>

